[build-system]
requires = ["setuptools>=44.0.0", "Cython>=0.29.21", "setuptools_scm[toml]>=6.4"]
build-backend = "setuptools.build_meta"

[tool.setuptools_scm]
local_scheme = "no-local-version"
write_to = "nod/version.py"